/* Monitorr Cast Receiver */
cast-media-player {
  --bounding-box-color: transparent;
  --background-color: #0d1117;
  --progress-color: #03a9f4;
  --splash-color: #3f51b5;
  --splash-size: 180px;
  --font-family: 'Inter', -apple-system, sans-serif;
  --playback-logo-image: none;
}
